.table-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 10px;
  @media only screen and (max-width: $bp-small) {
    padding: 20px 0;
  }
}

.table {
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.table-head tr th {
  padding: 20px 10px;

  color: #9cb3c9;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.table-body {
  background-color: #fff;
  @media only screen and (max-width: $bp-small) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.table-body td {
  transition: transform 200ms ease-in;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

.table-body tr td {
  padding: 24px 20px;
  border-bottom: 1px solid #e3eaef;
  cursor: pointer;
  @media only screen and (max-width: $bp-small) {
    padding: 8px 0px;
    border-bottom: 0px;
  }
}

.edit-btn {
  display: inline-block;
  @include btn;
  // @include easeIn;
  @include navbar-gradient;
  @extend.nav-link:link;
  @include btn-shadow;

  &:hover,
  &:active {
    @include hover-shadow;
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
  }
}
