.expense-header {
  display: flex;
  justify-content: space-between;
  padding: 0 162px;

  .link-back {
    @extend.nav-link:link;
  }
  .remove-btn {
    @include btn;
    @include btn-shadow;
    @include scale-effect;
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff4b2b,
      #ff416c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff4b2b,
      #ff416c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // &:hover,
    // &:active {
    //   @include hover-shadow;
    //   transform: scale(0.97);
    //   -webkit-transform: scale(0.97);
    //   -moz-transform: scale(0.97);
    //   -ms-transform: scale(0.97);
    //   -o-transform: scale(0.97);
    // }
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0;
    margin-bottom: 1rem;
  }
}

.expense-body {
  @include box-shadow;
  background: -webkit-linear-gradient(to bottom, #fdb99b, #a770ef);
  background: linear-gradient(to bottom, #fdb99b, #a770ef);
  width: 70%;
  margin: 0 auto;
  padding: 3rem 8rem;
  border-radius: 20px;
  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 2rem 1rem;
    width: 100%;
  }
}

.expense-form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: 1rem;
  }
  .add-btn {
    @include btn;
    &::before {
      z-index: -1;
    }
    @extend.navbar-list-item;
    @extend.nav-link:link;

    border: none;
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
