@import '../base/variable';

/*-----------------------------*/
/*SEARCH BAR*/
/*-----------------------------*/
.search_container {
  @include box-shadow;

  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background-color: #f0ebf0;
  border: 0px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &_group {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }
}
.search_container_group-item {
  margin-right: 1rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 10px;
    width: 100%;
  }

  .text-input {
    @media only screen and (max-width: $bp-medium) {
      width: 316px;
    }
  }
}

.text-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 50px;
  padding: 2px;
  font-size: 20px;
  font-weight: 300;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.DateRangePickerInput__showClearDates {
  min-width: 60%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*-----------------------------*/
/*SUMMARY CARD*/
/*-----------------------------*/

.summary {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0px;
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.summary-card-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1 0 40%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 20px 0 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &:nth-child(1) {
    @include pink-gradient;
  }
  &:nth-child(2) {
    @include green-gradient;
  }
  &:nth-child(3) {
    @include blue-gradient;
  }
  &:nth-child(4) {
    @include yellow-gradient;
  }

  &-desc {
    display: flex;
    .fas {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      color: #7d7aae;
    }
  }

  @media only screen and (max-width: $bp-large) {
    overflow-wrap: break-word;
    flex-basis: 80%;

    height: 150px;
  }
  @media only screen and (max-width: $bp-small) {
    &:last-child {
      margin-bottom: 20px;
    }
    align-content: center;
    margin-right: 0px;
  }
}

.card-item-icon {
  width: 40px;
  height: 40px;
  float: right;
  color: #c7caeb;
}
.summary-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
