@import "./variable";

html,
body {
  background-color: $bg-color;
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;

  color: $secondary-text-color;
  overflow-x: hidden;
  font-family: $font-poppins;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

section {
  padding: 80px 0px;
  @media only screen and (max-width: $bp-small) {
    padding: 40px 0px;
  }
}

.container {
  color: $primary-color;
  display: relative;
  min-height: 100vh;
  width: 100%;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  @media only screen and (max-width: $bp-largest) {
    max-width: 960px;
  }
  @media only screen and (max-width: $bp-large) {
    // max-width: 890px;
    margin: 0 20px;
  }
  @media only screen and (max-width: $bp-medium) {
    margin: 0 20px;
  }
  //  @media only screen and (max-width: $bp-small) {

  // }
}

.icon {
  margin-right: 3px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  // display: inline-block;
  // margin-left: 40px;
}

.select {
  color: rgba(0, 0, 0, 0.4);
}
