@import "./variable";

html,
body {
  background-color: $bg-color;
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  // line-height: 1.5;
  overflow-x: hidden;
  font-family: $font-poppins;
  // font-family: "Hind Vadodara", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  @media only screen and (max-width: $bp-largest) {
    max-width: 960px;
  }
  @media only screen and (max-width: $bp-large) {
    // max-width: 890px;
    margin: 0 20px;
  }
  @media only screen and (max-width: $bp-medium) {
    margin: 0 20px;
  }
  //  @media only screen and (max-width: $bp-small) {

  // }
}

.section {
  padding: 80px 0;
  opacity: 0;
}

.icon {
  margin-right: 3px;
}
li {
  list-style: none;
  display: inline-block;
  // margin-left: 40px;
}
