.title {
  font-size: 30px;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #fff;
  font-weight: 300;
}
h5 {
  color: $primary-text-color;
  font-weight: 300;
  margin: 0;
}
h4 {
  font-weight: 400;
  margin: 0 0 5px 0;
}
