@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

$primary-color: #5c34ae;
$bg-color: #f2edf3;
$primary-text-color: #9cb3c9;
$secondary-text-color: #551a8b;
$font-poppins: 'Poppins', Arial, Tahoma, sans-serif;
$font-IBM: 'IBM Plex Mono', monospace;

/*-----------------------------*/
/*BREAK POINT */
/*-----------------------------*/

$bp-largest: 75em; //1200px;
$bp-large: 61.87em; //990px;
$bp-medium: 53.13em; //850px
$bp-small: 46.25em; //740px;
$bp-xsmall: 25.68em; //413px iphone 6,7,plus, X
